<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="jumbotron">
    <div class="container">

        <h2 class="display-4">About</h2>


        <hr class="my-4">

        <p class="lead">

        </p>
        This page was developed by the system dynamics team within LBG. It combines data mathematical modelling (system-dynamics) with web interaction and visualization.
        <p>
            <%= aboutText %>
        </p>
        <hr class="my-4">
        <p class="lead">
            <p> Explore the model scenarios by running the model! </p>
            <a class="btn btn-primary btn-lg" href="/run" role="button">Run Model</a>
        </p>
    </div>
</div>

<%- include("partials/footer") %>

