<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="jumbotron">
    <div class="container">

        <h2 class="display-4">About</h2>
        <br>

        <p class="lead">
            In this website you can interact with a system-dynamics model:
            <ul>
                <li>Change input paramteres and instantly visualize the results</li>
                <li>Save scenario runs and compare them.</li>
            </ul>
        </p>
        
        <p>
            <%= pagesText.about %>
        </p>
        <hr class="my-4">
        <p class="lead">
            <p> Explore the model scenarios by running the model! </p>
            <a class="btn btn-primary btn-lg" href="/run" role="button">Run Model</a>
        </p>
    </div>
</div>

<%- include("partials/footer") %>

