<%- include("partials/header.ejs") %>


<link href="/css/dashb.css" rel="stylesheet" type="text/css">

<!-- CHARTS SETUP -->
<script type="text/javascript" src="/js/vensim/charts.js"></script>
<script type="text/javascript" src="/js/vensim/mdl.js"></script>
<script type="text/javascript" src="/js/vensim/vensim_wasm.js"></script>

<%- include("partials/navbar.ejs") %>


<!-- SAVE MODAL -->
<div class="modal fade" id="runSaveModal" tabindex="-1" role="dialog" aria-labelledby="unSaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="unSaveModalLabel">Save Run</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="runName" class="col-form-label">Please, choose the name of the run:</label>
                <input type="text" class="form-control" id="runName" placeholder="Run Name">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveButton">Save</button>
        </div>
        </div>
    </div>
</div>


<div class="jumbotron" style="padding-bottom:24px;">
    <h1> Run the Model </h1>
    <!-- CONTROL BUTTONS -->
    <div class="topBar">
        <!-- RESET -->
        <button class="btn btn-outline-secondary resetAll">Reset Sliders</button>
        <!-- DIAGRAM BUTTON -->
        <% if (dashbDiagram) { %>
        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#diagram" aria-expanded="false" aria-controls="diagram">
            Diagram</button>
        <% } %>
        <!-- SAVE BUTTON -->
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#runSaveModal">Save Run</button>
    </div>
</div>

<% if (dashbDiagram) { %>
<div class="diagramDiv collapse container" id="diagram">
    <img src="<%= dashbDiagram %>">
</div>
<% } %>


<div class="slidersDiv container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 d-flex justify-content-around">
    <div class="col d-flex align-items-stretch"><div class="sliderGroup d-flex align-items-start flex-column justify-content-center"><label for="growth rate a" class="mb-auto mx-auto"><strong>growth rate a</strong></label><div class="io-slider-box mx-auto" name="growth rate a">0.01</div><input class="io-slider-slide mx-auto" type="range" name="growth rate a" min="-0.05" max="0.05" value="0.01" step="0.001"></div></div><div class="col d-flex align-items-stretch"><div class="sliderGroup d-flex align-items-start flex-column justify-content-center"><label for="initial stock a" class="mb-auto mx-auto"><strong>initial stock a</strong></label><div class="io-slider-box mx-auto" name="initial stock a">100</div><input class="io-slider-slide mx-auto" type="range" name="initial stock a" min="-100" max="200" value="100" step="1"></div></div><div class="col d-flex align-items-stretch"><div class="sliderGroup d-flex align-items-start flex-column justify-content-center"><label for="growth rate b" class="mb-auto mx-auto"><strong>growth rate b</strong></label><div class="io-slider-box mx-auto" name="growth rate b">-0.01</div><input class="io-slider-slide mx-auto" type="range" name="growth rate b" min="-0.05" max="0.05" value="-0.01" step="0.001"></div></div><div class="col d-flex align-items-stretch"><div class="sliderGroup d-flex align-items-start flex-column justify-content-center"><label for="initial stock b" class="mb-auto mx-auto"><strong>initial stock b</strong></label><div class="io-slider-box mx-auto" name="initial stock b">200</div><input class="io-slider-slide mx-auto" type="range" name="initial stock b" min="-1000" max="2000" value="200" step="10"></div></div></div>
</div>

<div class="container"><hr></div>

<div class="chartsDiv container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 d-flex justify-content-around">
    <div class="col"><div class="io-chart" name="stock[a]" varname="stock[a]" xaxisname="Month" yaxisname="u"></div></div><div class="col"><div class="io-chart" name="stock[b]" varname="stock[b]" xaxisname="Month" yaxisname="u"></div></div></div>
</div>

<!-- SLIDERS ACTIVATION -->
<script type="text/javascript" src="/js/vensim/sliders.js"></script>

<%- include("partials/footer") %> 