<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="jumbotron">
    <h1 class="display-4">COVID-19 Scenario Simulator</h1>
    <p class="lead">This application can simulates scenarios around the spreading of COVID-19 epidemics.</p>
    <hr class="my-4">
    <p>Run the model to get started.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/vensim" role="button">Run Model</a>
    </p>
</div>

<%- include("partials/footer") %> 