<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>


<div class="container"><h1>Run the model</h1></div>

<form action="/run" method="get" id="runConfigForm">

    <div id="controllers">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm text-center">
                    <label for="Behavioral Risk Reduction">Behavioral Risk Reduction: </label>
                    <br>
                    <strong><output id="BRROut">{{params['Behavioral Risk Reduction']}}</output></strong>
                    <br>
                    0
                    <input type="range" name="Behavioral Risk Reduction" id="BRRIn" value="{{params['Behavioral Risk Reduction']}}" min="0" max="1" step="0.05" oninput="BRROut.value = BRRIn.value; BRRSave.value = BRRIn.value" onchange="submit()">
                    1
                </div>
                <div class="col-sm text-center">
                    <label for="Potential Isolation Effectiveness">Potential Isolation Effectiveness: </label>
                    <br>
                    <strong><output id="PIEOut">{{params['Potential Isolation Effectiveness']}}</output></strong>
                    <br>
                    0
                    <input type="range" name="Potential Isolation Effectiveness" id="PIEIn" value="{{params['Potential Isolation Effectiveness']}}" min="0" max="1" step="0.05" oninput="PIEOut.value = PIEIn.value; PIESave.value = PIEIn.value" onchange="submit()">
                    1
                </div>
            </div>
        </div>
    </div>

    <div class="container"><hr></div>

    <div class="container-fluid">
        <div class="chartsDiv row">
            <div id='infDthChart' class="chartFrame col-md"></div>
            <div id='stackChart' class="chartFrame col-md"></div>
        </div>
    </div>    
    
    <div class="container"><hr></div>

    <div class="chartsDiv col justify-content-center text-center">
        
        <div id='sankChart' class="chartFrame row">
        </div>
        
        <div class="col">
            <p>
            <input type="range" name="selectedTime" id="timeSelector" oninput="selectedTimeOutput.value = dayParser(timeSelector.value); timeSelectorSave.value = timeSelector.value" min="0" max="300" step="2" value="{{selected_time}}">
            <!-- <input type="range" name="selectedTime" id="timeSelector" oninput="selectedTimeOutput.value = timeSelector.value; timeSelectorSave.value = timeSelector.value" min="0" max="300" step="2" value="{{selected_time}}"> -->
            </p>
            
            <label for="selectedTime"> Day: </label>
            <strong><output id="selectedTimeOutput"></output></strong>
            <!-- <strong><output id="selectedTimeOutput" value="{{selected_time}}"></output></strong> -->
            <script>selectedTimeOutput.value = dayParser(timeSelector.value)</script>
        </div>
    </div>

</form>

<div class="container"><hr></div>


    <form action="/saverun" method="post">

        <div class="container runSaver" style="padding-top:5px;">
            <h3 style="margin:15px;">Save your run</h3>
            <div class="row justify-content-center">
                <div class="hidden">
                    <input type="range" name="Behavioral Risk Reduction" id="BRRSave" value="{{params['Behavioral Risk Reduction']}}">
                    <input type="range" name="Potential Isolation Effectiveness" id="PIESave" value="{{params['Potential Isolation Effectiveness']}}">
                    <input type="range" name="selectedTime" id="timeSelectorSave" value="{{selected_time}}" min="0" max="300">
                </div>
                
                <input type="text" name="runName" id="runName" placeholder="Run Name - alphanumeric only" class="col-6">
                <button class="btn btn-outline-success col-4 runSaverButton" type="submit">
                    Save Run
                </button>  
            </div>
        </div>

    </form>


<%- include("partials/footer") %> 



