<%- include("partials/header.ejs") %>

<!-- SLIDERS POSITION AND STYLE -->
<link href="/css/vensim-original.css" rel="stylesheet" type="text/css">

<!-- CHARTS SETUP -->
<script type="text/javascript" src="/js/vensim/charts.js"></script>
<script type="text/javascript" src="/js/vensim/mdl.js"></script>
<script type="text/javascript" src="/js/vensim/vensim_wasm.js"></script>
<script type="text/javascript" src="/js/vensim/variables.js"></script>


<%- include("partials/navbar.ejs") %>

<!-- SAVE MODAL -->
<div class="modal fade" id="runSaveModal" tabindex="-1" role="dialog" aria-labelledby="unSaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="unSaveModalLabel">Save Run</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="runName" class="col-form-label">Please, choose the name of the run:</label>
                <input type="text" class="form-control" id="runName" placeholder="Run Name">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveButton">Save</button>
        </div>
        </div>
    </div>
</div>


<div class="jumbotron" style="padding-bottom:24px;">
    <h1> Run the Model </h1>
    <!-- CONTROL BUTTONS -->
    <div class="topBar">
        <!-- RESET -->
        <button class="btn btn-outline-secondary resetAll">Reset Sliders</button>
        <!-- SAVE BUTTON -->
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#runSaveModal">Save Run</button>
    </div>
</div>

<!-- SKETCH VIEW -->
<div class="sketchDiv">
<div class="sketch">
<img src="/img/sketch.png">
<div class="io-slider-box" name="initial in transit" style="position: absolute; top: 414px; left: 156px; width: 116px; height: 14px">
0
</div>
<input class="io-slider-slide" style="position: absolute; top: 428px; left: 156px; width: 116px" type="range" name="initial in transit" min="-1" max="2" value="0" step="0.01">
<div class="io-slider-box" name="order lead time" style="position: absolute; top: 620px; left: 343px; width: 120px; height: 14px">
4
</div>
<input class="io-slider-slide" style="position: absolute; top: 634px; left: 343px; width: 120px" type="range" name="order lead time" min="2" max="6" value="4" step="0.1">
<div class="io-slider-box" name="stock adjustment period" style="position: absolute; top: 620px; left: 31px; width: 132px; height: 14px">
4
</div>
<input class="io-slider-slide" style="position: absolute; top: 634px; left: 31px; width: 132px" type="range" name="stock adjustment period" min="1" max="12" value="4" step="1">
<div class="io-slider-box" name="desired stock holding" style="position: absolute; top: 818px; left: 634px; width: 104px; height: 14px">
12
</div>
<input class="io-slider-slide" style="position: absolute; top: 832px; left: 634px; width: 104px" type="range" name="desired stock holding" min="1" max="12" value="12" step="1">
<div class="io-slider-box" name="market demand average" style="position: absolute; top: 735px; left: 909px; width: 124px; height: 14px">
500
</div>
<input class="io-slider-slide" style="position: absolute; top: 749px; left: 909px; width: 124px" type="range" name="market demand average" min="-1000" max="2000" value="500" step="10">
<div class="io-slider-box" name="market demand standard deviation" style="position: absolute; top: 789px; left: 785px; width: 144px; height: 14px">
25
</div>
<input class="io-slider-slide" style="position: absolute; top: 803px; left: 785px; width: 144px" type="range" name="market demand standard deviation" min="-100" max="200" value="25" step="1">
<div class="io-slider-box" name="unit cost" style="position: absolute; top: 307px; left: 342px; width: 72px; height: 14px">
75
</div>
<input class="io-slider-slide" style="position: absolute; top: 321px; left: 342px; width: 72px" type="range" name="unit cost" min="-100" max="200" value="75" step="1">
<div class="io-slider-box" name="inventory holding cost" style="position: absolute; top: 454px; left: 583px; width: 98px; height: 14px">
15
</div>
<input class="io-slider-slide" style="position: absolute; top: 468px; left: 583px; width: 98px" type="range" name="inventory holding cost" min="-100" max="200" value="15" step="1">
<div class="io-slider-box" name="our margin" style="position: absolute; top: 338px; left: 615px; width: 90px; height: 14px">
0.6
</div>
<input class="io-slider-slide" style="position: absolute; top: 352px; left: 615px; width: 90px" type="range" name="our margin" min="0" max="3" value="0.6" step="0.01">
<div class="io-slider-box" name="price sensitivity" style="position: absolute; top: 460px; left: 973px; width: 120px; height: 14px">
-5
</div>
<input class="io-slider-slide" style="position: absolute; top: 474px; left: 973px; width: 120px" type="range" name="price sensitivity" min="-5" max="0" value="-5" step="0.01">
<div class="io-slider-box" name="prop startup cash in inventory" style="position: absolute; top: 158px; left: 0px; width: 130px; height: 14px">
0.5
</div>
<input class="io-slider-slide" style="position: absolute; top: 172px; left: 0px; width: 130px" type="range" name="prop startup cash in inventory" min="0" max="1" value="0.5" step="0.05">
<div class="io-chart" name="our market share" varname="our market share" xaxisname="Week" yaxisname="Percent" style="position: absolute; top: 0px; left: 1196px; width: 388px; height: 272px"></div>
<div class="io-chart" name="cash in bank" varname="cash in bank" xaxisname="Week" yaxisname="£" style="position: absolute; top: 280px; left: 1196px; width: 388px; height: 272px"></div>
<div class="io-chart" name="profit margin" varname="profit margin" xaxisname="Week" yaxisname="Percent" style="position: absolute; top: 560px; left: 1196px; width: 388px; height: 272px"></div>
</div></div>

<!-- SLIDERS ACTIVATION -->
<script type="text/javascript" src="/js/vensim/sliders.js"></script>

<%- include("partials/footer.ejs") %>