<%- include("partials/header.ejs") %>


<!-- SLIDERS POSITION AND STYLE -->
<link href="/css/vensim.css" rel="stylesheet" type="text/css">

<!-- CHARTS SETUP -->
<script type="text/javascript" src="/js/vensim/charts.js"></script>
<script type="text/javascript" src="/js/vensim/mdl.js"></script>
<script type="text/javascript" src="/js/vensim/vensim_wasm.js"></script>

<%- include("partials/navbar.ejs") %>


<!-- SAVE MODAL -->
<div class="modal fade" id="runSaveModal" tabindex="-1" role="dialog" aria-labelledby="unSaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="unSaveModalLabel">Save Run</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="runName" class="col-form-label">Please, choose the name of the run:</label>
                <input type="text" class="form-control" id="runName" placeholder="Run Name">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveButton">Save</button>
        </div>
        </div>
    </div>
</div>


<div class="jumbotron" style="padding-bottom:24px;">
    <h1> Run the Model </h1>
    <!-- CONTROL BUTTONS -->
    <div class="topBar">
        <!-- RESET -->
        <button class="btn btn-outline-secondary resetAll">Reset Sliders</button>
        <!-- DIAGRAM BUTTON -->
        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#diagram" aria-expanded="false" aria-controls="diagram">
            Diagram
        </button>
        <!-- SAVE BUTTON -->
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#runSaveModal">Save Run</button>
    </div>
</div>

<div class="diagramDiv collapse container" id="diagram">
    <img src="/img/cld.png">
</div>

<div class="slidersDiv container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 align-items-around  text-center">
    <div class="col d-flex"><div class="sliderGroup"><label for="Incubation Time"><strong>Incubation Time</strong></label><div class="io-slider-box" name="Incubation Time">5</div><input class="io-slider-slide" type="range" name="Incubation Time" min="1" max="10" value="5" step="0.1"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="R0"><strong>R0</strong></label><div class="io-slider-box" name="R0">2.4</div><input class="io-slider-slide" type="range" name="R0" min="1" max="4" value="2.4" step="0.01"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Infection Duration"><strong>Infection Duration</strong></label><div class="io-slider-box" name="Infection Duration">7</div><input class="io-slider-slide" type="range" name="Infection Duration" min="1" max="10" value="7" step="0.1"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Initial Population"><strong>Initial Population</strong></label><div class="io-slider-box" name="Initial Population">6.65752e+07</div><input class="io-slider-slide" type="range" name="Initial Population" min="1" max="200000" value="6.65752e+07" step="1000"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="N Imported Infections"><strong>N Imported Infections</strong></label><div class="io-slider-box" name="N Imported Infections">5</div><input class="io-slider-slide" type="range" name="N Imported Infections" min="0" max="100" value="5" step="1"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Import Time"><strong>Import Time</strong></label><div class="io-slider-box" name="Import Time">20</div><input class="io-slider-slide" type="range" name="Import Time" min="1" max="100" value="20" step="1"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Isolation Reaction Time"><strong>Isolation Reaction Time</strong></label><div class="io-slider-box" name="Isolation Reaction Time">5</div><input class="io-slider-slide" type="range" name="Isolation Reaction Time" min="1" max="30" value="5" step="0.1"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Behavior Reaction Time"><strong>Behavior Reaction Time</strong></label><div class="io-slider-box" name="Behavior Reaction Time">50</div><input class="io-slider-slide" type="range" name="Behavior Reaction Time" min="1" max="60" value="50" step="1"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Behavioral Risk Reduction"><strong>Behavioral Risk Reduction</strong></label><div class="io-slider-box" name="Behavioral Risk Reduction">0</div><input class="io-slider-slide" type="range" name="Behavioral Risk Reduction" min="0" max="1" value="0" step="0.01"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Hospital Capacity"><strong>Hospital Capacity</strong></label><div class="io-slider-box" name="Hospital Capacity">200000</div><input class="io-slider-slide" type="range" name="Hospital Capacity" min="0" max="1000" value="200000" step="10"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Treated Fatality Rate"><strong>Treated Fatality Rate</strong></label><div class="io-slider-box" name="Treated Fatality Rate">0.2</div><input class="io-slider-slide" type="range" name="Treated Fatality Rate" min="0" max="0.1" value="0.2" step="0.001"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Untreated Fatality Rate"><strong>Untreated Fatality Rate</strong></label><div class="io-slider-box" name="Untreated Fatality Rate">0.4</div><input class="io-slider-slide" type="range" name="Untreated Fatality Rate" min="0" max="0.1" value="0.4" step="0.001"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Fraction Requiring Hospitalization"><strong>Fraction Requiring Hospitalization</strong></label><div class="io-slider-box" name="Fraction Requiring Hospitalization">0.1</div><input class="io-slider-slide" type="range" name="Fraction Requiring Hospitalization" min="0" max="1" value="0.1" step="0.01"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Public Health Capacity"><strong>Public Health Capacity</strong></label><div class="io-slider-box" name="Public Health Capacity">1e+06</div><input class="io-slider-slide" type="range" name="Public Health Capacity" min="-1e+06" max="2e+06" value="1e+06" step="10000"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Potential Isolation Effectiveness"><strong>Potential Isolation Effectiveness</strong></label><div class="io-slider-box" name="Potential Isolation Effectiveness">0</div><input class="io-slider-slide" type="range" name="Potential Isolation Effectiveness" min="0" max="1" value="0" step="0.01"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Contact Density Decline"><strong>Contact Density Decline</strong></label><div class="io-slider-box" name="Contact Density Decline">0</div><input class="io-slider-slide" type="range" name="Contact Density Decline" min="0" max="4" value="0" step="0.1"></div></div><div class="col d-flex"><div class="sliderGroup"><label for="Seasonal Amplitude"><strong>Seasonal Amplitude</strong></label><div class="io-slider-box" name="Seasonal Amplitude">0</div><input class="io-slider-slide" type="range" name="Seasonal Amplitude" min="0" max="1" value="0" step="0.01"></div></div></div>
</div>

<div class="container"><hr></div>

<div class="chartsDiv container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 align-items-around">
    <div class="col"><div class="io-chart" name="Susceptible" varname="Susceptible" xaxisname="day" yaxisname="people"></div></div><div class="col"><div class="io-chart" name="Exposed" varname="Exposed" xaxisname="day" yaxisname="people"></div></div><div class="col"><div class="io-chart" name="Infected" varname="Infected" xaxisname="day" yaxisname="people"></div></div><div class="col"><div class="io-chart" name="Recovered" varname="Recovered" xaxisname="day" yaxisname="people"></div></div><div class="col"><div class="io-chart" name="Deaths" varname="Deaths" xaxisname="day" yaxisname="people"></div></div><div class="col"><div class="io-chart" name="Public Health Strain" varname="Public Health Strain" xaxisname="day" yaxisname="Index"></div></div><div class="col"><div class="io-chart" name="Hospital Strain" varname="Hospital Strain" xaxisname="day" yaxisname="Index"></div></div><div class="col"><div class="io-chart" name="Confirmed" varname="Confirmed" xaxisname="day" yaxisname="people"></div></div></div>
</div>

<!-- SLIDERS ACTIVATION -->
<script type="text/javascript" src="/js/vensim/sliders.js"></script>

<%- include("partials/footer.ejs") %>
