#mainContainer{
    margin-top:0px;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* SIDEBAR  */
#sideBar{
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
    position: fixed;
    z-index: 1; 
}
#sideBar.compressed {
    min-width: 70px;
    max-width: 70px;
    text-align: center;
}
#sideBar.compressed .compress {
    display: none;
}
#sideBar .compress {
    /* display: block; */
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sideBar.compressed .hint {
    display: block;
}
#sideBar .hint {
    display: none;
}
.sidebar-header{
    margin:0px;
    padding:15px;
    border-radius:0px;
}
.sidebar-header img{
    filter: invert(100%);
}
.sidebar-header div.compress{
    display: flex;
    justify-content: space-between;
}
.sidebar-header div div{
    display: inline-block;
}
.sidebar-header img{
    filter: invert(100%);
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
#sideBar ul li a {
    display: flex;
    justify-content: start;
}
#sideBar ul li a img {
    margin-right:10px;
    /* display: inline-block; */
}
#sideBar ul li a:hover {
    color: white;
    background: #007bff;
}
#sideBar ul li a:hover img {
    filter: invert(100%);
    transition: all 0.3s;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#sideBar img{
    margin: auto;
}


/* CONTENT  */
#contentDiv{
    margin-left:70px;
    width:100%;
    transition: all 0.3s;
}
#contentDiv.compressed {
    margin-left:250px;
}
#runTalk{
    margin-top:0;
    padding-top:32px;
    padding-bottom:24px;
    background-color:transparent;
}
#ioDiv{
    margin-top:32px;
    width:100%;
}
/* DIAGRAM */
.diagramDiv{
    margin: 30px auto;
    overflow: hidden;
    border: none;
}
.diagramDiv img{
    width: 100%;
    object-fit: cover;
}

/* SLIDERS */
.sliderGroup{
    background-color:rgba(245,245,245,0.6);
    margin: 7px auto;
    padding:10px;
    border-radius:10px;
}
.io-slider-slide{
    cursor:pointer;
}
.unit{
    font-size: smaller;
}

/*  CHARTS */
.chartsDiv{
    min-width:80%;
    /* margin:auto; */
}
div.io-chart, div.addChart {
    background-color: rgba(248, 248, 255,0.6);
    border-radius:15px;
    height: 300px;
    margin: 15px auto;
}
div.io-chart > .svg {
    width: 100%;
    height: 100%;
    /* padding-bottom:85%; */
}

/* EDIT MODE */
.hidden{
    display:none!important;
}
.hideAdder{
    display:none!important;
}
#saveViewButtonDiv{
    color:white;
    text-align: center;
}
.addButton{
    width:2em;
}
div.addSlider label,
div.addChart label
{
    filter: invert(0.75);
    transition: 0.3s;
}
div.addSlider .addButton,
div.addChart .addButton{
    filter: invert(0.75);
    transition: filter none, transform 0.3s;
    transition: 0.3s;
    transition-property: transform;
}
div.addSlider:hover .addButton,
div.addChart:hover .addButton
{
    filter: invert(0.2) sepia(0.3) saturate(10000%) hue-rotate(230deg) opacity(0.7);
    transform: scale(1.3);
    transition: filter none, transform 0.3s;
}
div.addSlider:hover .addButton,
div.addChart:hover .addButton
{
    transform: scale(1.3);
    transition: 0.3s;
    transition-property: transform;
}
div.addSlider:hover label,
div.addChart:hover label
{
    filter: invert(0);
}
.deleter{
    width: 15px;
    margin-top: 5%;
    margin-right: 5%;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    filter: invert(0.7) sepia(1) saturate(10000%) hue-rotate(30deg) opacity(0.7);
}
.deleter:hover{
    transform: rotate(45deg) scale(1.5);
    transition: 0.3s;
}